<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} – {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
</head>
<body>
  <div class="layout">
    <aside class="sidebar">
      <!-- everything on the left stays the same -->
      <img src="{{ "/assets/img/IMG_0605.jpg" | relative_url }}" alt="Your name" class="avatar">
      <h2>Finn Grabbe</h2>
      <p>Master's student in Electrical Engineering at DTU. Interested in Electronics, Markets, Design and Renewables</p>
      <nav class="social">
        <a href="https://github.com/E0FError">Github</a>
        <a href="www.linkedin.com/in/finn-grabbe-b8212b220">LinkedIn</a>
        <!-- more links -->
      </nav>
      <nav class="nav">
  <a href="{{ "/" | relative_url }}"
     class="nav-link {% if page.url == "/" %}active{% endif %}">
    Articles
  </a>

  <a href="{{ "/lecture-notes/" | relative_url }}"
     class="nav-link {% if page.url == "/lecture-notes/" %}active{% endif %}">
    Lecture Notes
  </a>

  <a href="{{ "/talks/" | relative_url }}"
     class="nav-link {% if page.url == "/talks/" %}active{% endif %}">
    Talks
  </a>

  <a href="{{ "/contact/" | relative_url }}"
     class="nav-link {% if page.url == "/contact/" %}active{% endif %}">
    Contact
  </a>
</nav>

    </aside>

    <main class="content">
      {{ content }}
    </main>
  </div>
</body>
</html>
