---
layout: default
---

<div class="layout">
  <aside class="sidebar">
    <div class="profile">
      <h2>Finn Grabbe</h2>
      <p>Master's student in Electrical Engineering at DTU. Interested in Electronics, Markets, Design and Renewables</p>
      <nav class="social">
        <a href="https://github.com/E0FError">Github</a>
        <a href="https://linkedin.com/...">LinkedINr</a>
        <!-- more links -->
      </nav>
      <nav class="nav">
        <a href="/">Articles</a>
        <a href="/lecture-notes/">Lecture Notes</a>
        <a href="/talks/">Talks</a>
        <a href="/contact/">Contact</a>
      </nav>
    </div>
  </aside>

  <main class="content">
    {% for post in site.posts %}
      <article class="post">
        <div class="post-meta">
          {{ post.date | date: "%b %-d, %Y" }} • {{ post.reading_time }} MIN. READ
        </div>
        <h2 class="post-title">
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </h2>
        <p class="post-excerpt">
          {{ post.excerpt | strip_html | truncate: 220 }}
        </p>
      </article>
    {% endfor %}
  </main>
</div>
